# --- Настройки сервера (FastAPI) ---
# На каком порту запускать API
API_PORT=8000
# Разрешить ли авто-перезагрузку сервера (True для разработки, False для прода)
API_RELOAD=True
# Уровень логирования (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO
# Имя основного конфиг-файла
CONFIG_NAME=base.yaml